* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.flow {
  position: relative;
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  margin-right: 30px;
}

.flow:last-child {
  margin-right: 0;
}

.img1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height:150px;
}

.img2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height:150px;
}

.img3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height:150px;
}

.step {
  padding: 3px;
  position: absolute;
  top: 0;
  left:0;
  background-color: #ff9a4b;
  color: white;
}

.flow-heading {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

